/*  your css code here. If applicable */
body {
    background-color: rgb(204, 204, 204); 
}

.player_one, .player_two {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 8px;
    margin: 10px auto;
    width: fit-content;
}

video, audio {
    display: block;
    max-width: 100%;
}